#btnEdit{
    -fx-background-color: skyblue;
    -fx-text-fill: white;
    -fx-min-height: 50;
    -fx-min-width: 50;
}

#btnEdit:hover{
    -fx-background-color: blue;
}

#btnDelete{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-min-height: 50;
    -fx-min-width: 50;
}